@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  background: #111;
  color: #eef5f5;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

a {
  color: #b00711;
}

.wrapper {
  text-align: center;
  width: 800px;
  max-width: 100%;
}

.heading {
  font-size: 72px;
  line-height: 1.1;
}

.heading,
.subheading {
  text-transform: uppercase;
}

.subheading {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 600px) {
  .heading {
    font-size: 48px;
  }

  .subheading {
    font-size: 18px;
  }

  .logo {
    width: 200px;
  }
}

@media (max-width: 400px) {
  .heading {
    font-size: 36px;
  }

  .subheading {
    font-size: 16px;
  }

  .logo {
    width: 150px;
  }
}